.boundary {
    position: absolute;
  
    height: calc(var(--mapGridSize) * var(--mapScaleFactor));
    width: calc(var(--mapGridSize) * var(--mapScaleFactor));
    background-color: hsla(0, 90%, 70%, .8);
  
    z-index: 30;
}