/* Map and all objects situated within it */
.map-container {
    position: relative;
  
    width: calc(var(--mapImgWidth) * var(--mapScaleFactor));
    height: calc(var(--mapImgHeight) * var(--mapScaleFactor));
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Align this to the grid */
    top: calc(var(--mapOffsetY) * var(--mapGridSize) * var(--mapScaleFactor));
    left: calc(var(--mapOffsetX) * var(--mapGridSize) * var(--mapScaleFactor));
  }
  
  img.map {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
  }