.jump-button {
    position: absolute;
    bottom: 116px;
    right: 136px;
    z-index: 50;
  
    height: 16px;
    width: 16px;
    transform: scale(calc(var(--scale-factor) * var(--thumb-scale-factor)));
    background-image: url(./assets/button.png);
    image-rendering: pixelated;
  
    touch-action: pinch-zoom;
  }
  
  .tap-box {
    /* outline: 2px solid white;
    background-color: plum; */
  
    position: absolute;
    bottom: 100px;
    left: 150px;
    z-index: 50;
  
    height: 64px;
    width: 64px;
    transform: scale(var(--scale-factor));
  
    touch-action: pinch-zoom;
  }
  
  .mobile-controls {
    /* outline: 1px solid salmon; */
  
    position: absolute;
    inset: 16px;
  
    width: 32px; /* based off of file */
    height: 32px;
    z-index: 30;
  
    background-position: 0 0;
    background-image: url(./assets/pad.png);
    image-rendering: pixelated;
  
    transform: scale(var(--thumb-scale-factor));
  }
  
  .mobile-controls.up {
    background-image: url(./assets/pad-directions.png);
    background-position-y: 0px;
  }
  
  .mobile-controls.left {
    background-image: url(./assets/pad-directions.png);
    background-position-y: 32px;
  }
  
  .mobile-controls.down {
    background-image: url(./assets/pad-directions.png);
    background-position-y: 64px;
  }
  
  .mobile-controls.right {
    background-image: url(./assets/pad-directions.png);
    background-position-y: 96px;
  }
  