.sprite {
  outline: 1px solid white;
    width: var(--heroWidth);
    height: var(--heroWeight);
    z-index: 25;
    image-rendering: pixelated;
  
    background-image: var(--heroBase);
    background-size: cover;
  
    /* For testing only please. Enlarge sprite before exporting in production */
    transform: scale(calc(var(--heroScale) * var(--mapScaleFactor)));
    transform-origin: top left;
  }
  
  .sprite.left, .sprite.down.left, .sprite.up.left {
    transform: scale(calc(var(--heroScale) * var(--mapScaleFactor))) scaleX(-1) translateX(50%);
    transform-origin: top right;
  }
  
  .sprite.idle {
    width: var(--heroIdleWidth, var(--heroWidth));
    height: var(--heroIdleHeight, var(--heroHeight));
    background-image: var(--heroIdle, var(--heroBase));
    animation: spriteIdle steps(var(--heroIdleSteps, 1)) var(--heroSpeed, 650ms) infinite;
  }

  .sprite.idle.vertical {
    animation: spriteIdleVertical steps(var(--heroIdleSteps, 1)) var(--heroSpeed, 650ms) infinite;
  }
  
  .sprite.running, .sprite.straight.up.running {
   width: var(--heroRunWidth, var(--heroWidth));
   height: var(--heroRunHeight, var(--heroHeight));
    background-image: var(--heroRun, var(--heroBase));
    animation: spriteRun steps(var(--heroRunSteps, 1)) var(--heroSpeed, 650ms) infinite;
  }

  .sprite.running.vertical {
    animation: spriteRunVertical steps(var(--heroRunSteps, 1)) var(--heroSpeed, 650ms) infinite;
  }

  .sprite.jump {
    width: var(--heroJumpWidth, var(--heroWidth));
    height: var(--heroJumpHeight, var(--heroHeight));
    background-image: var(--heroJump, var(--heroBase));
    z-index: 5;
    animation: spriteJump steps(var(--heroJumpSteps, 1)) var(--heroSpeed, 650ms) infinite;
  }

  .sprite.jump.vertical {
    animation: spriteJumpVertical steps(var(--heroJumpSteps, 1)) var(--heroSpeed, 650ms) infinite;
  }
  
  
  @keyframes spriteIdle {
    /* 0% {background-position-y: 0} */
    /* 100% {background-position-y: -288px} */
  
    0% {background-position-x: 0}
    100% {background-position-x: var(--heroIdleEnd, 0)}
  }
  
  @keyframes spriteRun {
    /* 0% {background-position-y: 0}
    100% {background-position-y: -384px} */  
    0% {background-position-x: 0}
    100% {background-position-x: var(--heroRunEnd, 0)}
  }
  
  @keyframes spriteJump {
    /* 0% {background-position-y: 0}
    100% {background-position-y: -240px} */
    0% {background-position-x: 0}
    100% {background-position-x: var(--heroJumpEnd, 0)}
  }


  /* These are set in the gameConfig file */

  @keyframes spriteIdleVertical {
    0% {background-position-y: 0}
    100% {background-position-y: var(--heroIdleEnd, 0)}
  }
  
  @keyframes spriteRunVertical {
    0% {background-position-y: 0}
    100% {background-position-y: var(--heroRunEnd, 0)}
  }
  
  @keyframes spriteJumpVertical {
    0% {background-position-y: 0}
    100% {background-position-y: var(--heroJumpEnd, 0)}
  }
  