.sprite-box {
    transition: all 200ms; /* State is reset by detecting the end of this */
    position: absolute;
  
    /* Align this to the camera grid */
    top: calc(var(--cameraSpriteOffsetY) * var(--mapGridSize) * var(--mapScaleFactor));
    left: calc(var(--cameraSpriteOffsetX) * var(--mapGridSize) * var(--mapScaleFactor));
  
    z-index: 30;
  }