:root {

  /*-----------------------------------------------*/
  /* Map - These must be set the same as in gameConfig.ts */
    --gridSize: 8px;

    /* Enlargement of all assets */
    --scale-factor: 10;

    --mapRows: 16;
    --mapCols: 40;

    /* Initial location of hero sprite -- set in GameConfig*/
    --initialY: 8;
    --initialX: 1;

    /* position of hero sprite relative to camera */
    --spriteOffsetX: 3;
    --spriteOffsetY: 3;
  
    /* initial shift of map -- to achieve initialY and initialX*/
    --mapOffsetY: calc(-1 * (var(--initialY) - var(--spriteOffsetY)));
    --mapOffsetX: calc(-1 * (var(--initialX) - var(--spriteOffsetX)));


    /* dimensions of map image */
    --mapImageWidth: 320px;
    --mapImageHeight: 128px;

  /*-----------------------------------------------*/
  
  /* Camera */
  --cameraRows: 8;
  --cameraCols: 8;

  --blockLocationY: 8;
  --blockLocationX: 10;


   /*----------------------------------------------*/
  /* Hero Sprite - All in CSS variables; nothing sets these in gameConfig.ts at the moment */

  /* --hero-base: url(/sam-pico-ghost.png);
  --hero-width: 8px;
  --hero-height: 8px;
  --hero-scale: 1; */

   /* Hero scale is the factor to make the sprite one box of the map. For some reason calc is not working but I think it should be gridSize / hero-width */

  --hero-base: url(/PlayerIdle_Night.png);
  --hero-width: 32px;
  --hero-height: 32px; 
  --hero-scale: .25;

  /*-----------------------------------------------*/

  --main-font: 'IBM Plex Mono', monospace;
  --secondary-font: 'IBM Plex Serif', serif;

  --white: white;
  --background: #060606; /* From pico tileset img*/



}

@media (hover: none) {
  .camera {
    margin: 0;
  }
}


* {
  /* outline: 1px solid white; */
}

body {
  display: grid;
  place-content: center;

  font-family: var(--main-font);
  color: var(--white);

  /* background-color: plum; */
  background-color: var(--background);
}

#root {
  /* background-color: papayawhip; */
  display: grid;
  place-content: center;
}


.game-container {
  height: 90vh;
  width: 90vw;
  display: grid;
  place-content: center;
  position: relative;
}

/* Sets the visible portion of the map */
.camera {
  background-color: var(--background);

  width: calc(var(--cameraCols) * var(--gridSize) * var(--scale-factor));
  height: calc(var(--cameraRows) * var(--gridSize) * var(--scale-factor));

  position: relative;
  overflow: hidden;
}

.position-label {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}




/* Map/Game Objects -- these should be positioned inline like boundary blocks; this is just a temp demo*/

.object-box {
  position: absolute;

  background-color: aqua;

  /* Align this to the mapgrid */
  top: calc(8 * var(--gridSize) * var(--scale-factor));
  left: calc(23 * var(--gridSize) * var(--scale-factor));
}

.object-sprite {
  width: 8px;
  height: 8px;
  z-index: 20;
  image-rendering: pixelated;

  transform: scale(var(--scale-factor));
  transform-origin: top left;

  background-image: url(./assets/red-salamander.png);
  background-size: cover;
  animation: spriteIdle steps(4) 650ms infinite;
}