:root {
  /* NOTE: Custom CSS properties are set according to the gameConfig file by the useConfig hook. Refer to the gameConfig file to see which properties have been generated*/


/*-------------------------------------*/
  /* Calculates the initial shift of the map so that the hero sprite appears in the correct offset relative to the camera window and in the correct position on the map  */
  --mapOffsetY: calc(-1 * (var(--mapInitialY) - var(--cameraSpriteOffsetY)));
  --mapOffsetX: calc(-1 * (var(--mapInitialX) - var(--cameraSpriteOffsetX)));
/*-------------------------------------*/

  
  --main-font: 'IBM Plex Mono', monospace;
  --secondary-font: 'IBM Plex Serif', serif;

  --white: white;
  --background: #060606; /* From pico tileset img*/
}


* {
  /* outline: 1px solid white; */
}

body {
  display: grid;
  place-content: center;

  font-family: var(--main-font);
  color: var(--white);

  /* background-color: plum; */
  background-color: var(--background);
}

#root {
  /* background-color: papayawhip; */
  display: grid;
  place-content: center;
}


.game-container {
  height: 90vh;
  width: 90vw;
  display: grid;
  place-content: center;
  position: relative;
}

