:root {
  --font-size-main: calc(10px + 2vmin);

  --main-font: 'IBM Plex Mono', monospace;
  --secondary-font: 'IBM Plex Serif', serif;

  --white: white;

  --violet1: hsl(250, 20.0%, 10.2%);
  --violet2: hsl(255, 30.3%, 12.9%);
  --violet3: hsl(253, 37.0%, 18.4%);
  --violet4: hsl(252, 40.1%, 22.5%);
  --violet5: hsl(252, 42.2%, 26.2%);
  --violet6: hsl(251, 44.3%, 31.1%);
  --violet7: hsl(250, 46.8%, 38.9%);
  --violet8: hsl(250, 51.8%, 51.2%);
  --violet9: hsl(252, 56.0%, 57.5%);
  --violet10: hsl(251, 63.2%, 63.2%);
  --violet11: hsl(250, 95.0%, 76.8%);
  --violet12: hsl(252, 87.0%, 96.4%);

  --mauve1: hsl(246, 6.0%, 9.0%);
  --mauve2: hsl(240, 5.1%, 11.6%);
  --mauve3: hsl(241, 5.0%, 14.3%);
  --mauve4: hsl(242, 4.9%, 16.5%);
  --mauve5: hsl(243, 4.9%, 18.8%);
  --mauve6: hsl(244, 4.9%, 21.5%);
  --mauve7: hsl(245, 4.9%, 25.4%);
  --mauve8: hsl(247, 4.8%, 32.5%);
  --mauve9: hsl(252, 4.0%, 45.2%);
  --mauve10: hsl(247, 3.4%, 50.7%);
  --mauve11: hsl(253, 4.0%, 63.7%);
  --mauve12: hsl(256, 6.0%, 93.2%);

  --char-scale-factor: 1.25; /* char scale factor; needs to be a little bigger */
  --scale-factor: 2; /* please add to movement as well */

  --gridRows: 9; /* 16:9 plus one cell borders */
  --gridCols: 16;

  --gridSize: calc(var(--scale-factor) * 50px);
}

@media (max-width: 650px) {
  :root {
    --scale-factor: 2;
    --char-scale-factor: 1.5;
  }
}

/* for some reason this also solves a bug where the sprite sometimes disappears between movements. Sigh! */
* {
  /* outline: 1px solid white; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--mauve2);
  font-family: var(--main-font);
  color: var(--white);

  /* background-color: plum; */
}

#root {
  /* background-color: papayawhip; */
  height: 100%;
  width: 100%;
}


/* This element sets the grid for the game, which I'm not using in any way yet */
.game-container {
  display: grid;
  grid-template-rows: repeat(var(--gridRows), var(--gridSize));
  grid-template-columns: repeat(var(--gridCols), var(--gridSize));

  position: relative;
  /* overflow: hidden; */
}

.camera {
  /* a bit of grid-based margin */
  margin: calc(var(--gridSize)) calc(var(--gridSize)/2);
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  
  width: calc(var(--gridSize) * 15);
  height: calc(var(--gridSize) * 7);

  position: relative;
  overflow: hidden;

  width: 90vw;
  height: 90vh; /* Then char immediately disappears on mobile */
}

.map {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  height: calc(var(--gridSize) * 9);
  width: calc(var(--gridSize) * 16 * 2); /* ok, but sprite goes off screen */

  background-image:
            url(./assets/HillsLayer06.png),
            url(./assets/HillsLayer05.png),
            url(./assets/HillsLayer04.png),
            url(./assets/HillsLayer03.png),
            url(./assets/HillsLayer02.png),
            url(./assets/HillsLayer01.png);
  background-repeat: repeat-x;
  /* background-image:
            url(./assets/my-background.png);
  background-repeat: no-repeat; */
  image-rendering: pixelated; 
  background-size: auto calc(var(--gridSize) * 9);
}


.box {
  transition: all 200ms; /* State is reset by detecting the end of this */
  position: absolute;
  top: calc(var(--scale-factor) * 100px);
  left: calc(var(--scale-factor) * 75px);
  z-index: 25;
}



.sprite {
  width: 32px; /* based off of file */
  height: 48px;
  z-index: 25;
  background-position: 0 0;
  image-rendering: pixelated;
  transform: scale(calc(var(--scale-factor)*var(--char-scale-factor)));
}

.sprite.left {
  transform: scale(calc(var(--scale-factor)*var(--char-scale-factor))) scaleX(-1);
}
.sprite.idle {
  background-image: url(./assets/B_witch_idle.png);
  animation: spriteIdle steps(6) 650ms infinite;
}
.sprite.running {
  width: 32px;
  height: 48px;
  background-image: url(./assets/B_witch_run.png);
  animation: spriteRun steps(8) 550ms infinite;
}

.sprite.jump {
  width: 48px;
  height: 48px;
  background-image: url(./assets/B_witch_charge.png);
  z-index: 5;
  animation: spriteJump steps(5) 550ms infinite;
}


@keyframes spriteIdle {
  0% {background-position-y: 0}
  100% {background-position-y: -288px}
}

@keyframes spriteRun {
  0% {background-position-y: 0}
  100% {background-position-y: -384px}
}

@keyframes spriteRun {
  0% {background-position-y: 0}
  100% {background-position-y: -384px}
}

@keyframes spriteJump {
  0% {background-position-y: 0}
  100% {background-position-y: -240px}
}

